<table class= "table">
  <% @checks.each do | check | %>
  <tr>
    <td><%= check.task.name %></td>
    <td><%= check.task.description %></td>
  </tr>
<% end %>

<tr>
  <td>Total de tareas realizadas:</td>
  <td><%= @checks.map{|check| check.task}. count %></td>
</tr>
</table>
